html {
  padding: none;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #17332d;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  position: absolute;
  top: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: auto;
  z-index: 1;
  transform-origin: center;
  transition: transform 2s ease;
}

#logo {
  width: 12%;
  padding-bottom: 5%;
}

#title {
  width: 100%;
  padding-bottom: 5%;
  color: #dbdac9;
}

#button {
  width: 12%;
}

#planes {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#planes {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.plane {
  position: absolute;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  transform-origin: center center;
  transform: translate(-50%, -50%); /* Center the plane */
  transition: transform 0.25s linear, opacity 0.5s ease-in-out; /* Smoother rotation and quick opacity transition */
  opacity: 0; /* Start with 0 opacity */
}

.dash {
  position: absolute;
  width: 15px; /* Width of the dash */
  height: 5px; /* Height of the dash */
  background-color: #75876f;
  border-radius: 2.5px; /* Rounded ends */
  transform-origin: center center;
  transition: transform 0.5s ease-in-out, opacity 1s ease-in-out; /* Smoother rotation and opacity transition */
}

#techTop {
  width: 60%;
  position: absolute;
  top: 5%;
  left: 5%;
  fill: #dbdac9;
  color: #dbdac9;
}

#techBottom {
  width: 90%;
  position: absolute;
  bottom: 5%;
  left: 5%;
  fill: #dbdac9;
}

#techLeft {
  height: 60%;
  position: absolute;
  bottom: 25%;
  left: 5%;
  fill: #dbdac9;
}

#techRight {
  height: 80%;
  position: absolute;
  right: 5%;
  top: 5%;
  fill: #dbdac9;
}

#animation-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform-origin: center;
  transition: transform 2s ease;
}

.cloud {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  animation: moveCloud 14s linear forwards;
  width: 100px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
}

@keyframes moveCloud {
  0% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    transform: translate(75vw, 100vh) scale(10);
    opacity: 0;
  }
}

@keyframes moveCloudLeft {
  0% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    transform: translate(-75vw, 100vh) scale(10);
  }
}
